<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Instructor-EduConnect</title>
  <link rel="stylesheet" href="./css/insstyle.css">
  <style>
    /* Welcome Message */
    .welcome-message {
      text-align: center;
      padding: 15px;
      color: white;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <div class="welcome-message">
    Welcome, !
  </div>
  <!-- partial:index.partial.html -->
  <section>
    <div class="list">
      <ul>
        <li>Introduction to Cybersecurity</li>
        <li>Cloud Computing Fundamentals</li>
        <li>Web Application Development</li>
        <li>Machine Learning Essentials</li>
        <li>Network Protocols and Routing</li>
        <li>Software Quality Assurance</li>
        <li>Mobile Game Development</li>
        <li>Big Data Analytics</li>
        <li>Database Systems Management</li>
        <li>Natural Language Processing</li>
        <li>Blockchain Technology</li>
        <li>Cyber Threat Intelligence</li>
        <li>Internet of Things (IoT) Applications</li>
        <li>Front-End Frameworks</li>
        <li>Backend API Development</li>
        <li>Human-Computer Interaction</li>
        <li>Parallel and Distributed Computing</li>
        <li>Embedded Systems Design</li>
        <li>Data Warehousing Strategies</li>
        <li>Software Vulnerability Assessment</li>
        <li>Serverless Computing Models</li>
        <li>Functional Programming Concepts</li>
      </ul>
    </div>
    <div class="animation"></div>
  </section>
</body>

</html>