<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student-EduConnect</title>
  <link rel="stylesheet" href="./css/stustyle.css">
  <style>
    /* Welcome Message */
    .welcome-message {
      text-align: center;
      padding: 15px;
      color: white;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <div class="welcome-message">
    Welcome!
  </div>
  <!-- partial:index.partial.html -->
  <section>
    <div class="list">
      <ul>
        <li>Database Management</li>
        <li>Algorithms and Programming</li>
        <li>Web Development Fundamentals</li>
        <li>Data Structures and Algorithms</li>
        <li>Network Security</li>
        <li>Software Engineering Principles</li>
        <li>Mobile App Development</li>
        <li>Data Mining</li>
        <li>Database Design</li>
        <li>Artificial Intelligence and Machine Learning</li>
        <li>Network Architectures</li>
        <li>Web Security</li>
        <li>Data Analytics</li>
        <li>Software Test Automation</li>
        <li>Web Services and API Development</li>
        <li>Data Visualization</li>
        <li>Distributed Systems</li>
        <li>Linux Server Management</li>
        <li>Data Storage Solutions</li>
        <li>Application Security</li>
        <li>Data Center Management</li>
        <li>Structured Programming Languages</li>
      </ul>
    </div>
    <div class="animation"></div>
  </section>
</body>

</html>